main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-area: 2 / 1 / 9 / 10;
    background-image: url(/media/images/WallpaperDog-5500609.jpg);
    opacity: 0.9;
    background-color: rgba(25, 25, 112, 1);
}

main h1 {
    grid-area: 1 / 1 / 2 / 10;
    align-self: center;
    justify-self: center;
    color: white;
    font-family: 'Braah One', sans-serif;
    font-size: 80px;
}

main section {
    grid-area: 3 / 1 / 5 / 5;
    align-self: flex-start;
    justify-self: center;
}

#email {
    grid-area: 2 / 2 / 3 / 4;
    align-self: center;
    justify-self: center;
    z-index: 1;
    color: white;    
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 60px;
}
input {
    border: solid 2px rgba(25, 25, 112, 0);
    border-radius: 10px;
    background-color: rgba(25, 25, 112, 0);
    color: white;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

input[type=text] {
    width: 87.5%;
    padding: 12px 20px;
    margin: 15px 0;
}

input[type=submit] {
    padding: 12px 12px;
}

#firstName {
    margin-top: 0px;
}

input:focus {
    border: solid 2px silver;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}

input:hover {
    border: solid 2px silver;
    border-radius: 10px;
    transition: border 0.5s;
}

textarea {
    padding: 12px 20px;
    margin: 15px 0;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    resize: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

textarea:focus {
    border: solid 2px silver;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}

textarea:hover {
    border: solid 2px silver;
    border-radius: 10px;
    transition: border 0.5s;
}

#letterHead {
    grid-area: 2 / 5 / 3 / 9;
    align-self: center;
    justify-self: center;
    color: white;
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 60px;
}

#address {
    grid-area: 3 / 6 / 5 / 8;
    color: white;
    align-self: flex-start;
    justify-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

#callHead {
    grid-area: 4 / 5 / 5 / 9;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 60px;
    font-family: 'Lobster', 'Pacifico', cursive;
}

#tel {
    grid-area: 4 / 6 / 5 / 8;
    align-self: flex-end;
    justify-self: center;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}