main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-area: 2 / 1 / 9 / 10;
    background-color: rgba(25, 25, 112, 1);
}

main h1 {
    grid-area: 1 / 1 / 2 / 10;
    align-self: center;
    justify-self: center;
    color: white;
}

main section {
    grid-area: 2 / 1 / 6 / 5;
    align-self: center;
    justify-self: center;
}

/* #box {
    grid-area: 2 / 1 / 6 / 10;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
} */

#email {
    grid-area: 2 / 2 / 3 / 4;
    align-self: center;
    justify-self: center;
    z-index: 1;
    color: white;    
}
input {
    border: solid 2px rgba(25, 25, 112, 1);
    border-radius: 10px;
    background-color: rgba(25, 25, 112, 1);
    color: white;
}

input:focus {
    border: solid 2px silver;
    border-radius: 10px;
}

input:hover {
    border: solid 2px silver;
    border-radius: 10px;
    transition: border 0.5s;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
    border: solid 2px rgba(25, 25, 112, 1);
    border-radius: 10px;
    background-color: rgba(25, 25, 112, 1);
    color: white;
    resize: none;
}

textarea:focus {
    border: solid 2px silver;
    border-radius: 10px;
}

textarea:hover {
    border: solid 2px silver;
    border-radius: 10px;
    transition: border 0.5s;
}

input[type=text] {
    width: 87.5%;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=submit] {
    padding: 5px 5px;
}

#letter {
    grid-area: 2 / 5 / 4 / 9;
    align-self: center;
    justify-self: center;
    color: white;
}

#call {
    grid-area: 4 / 5 / 6 / 9;
    align-self: center;
    justify-self: center;
    color: white;
}