#intro {
    grid-area: 2 / 1 / 3 / 6;
}

#moreIntro {
    grid-area: 3 / 1 / 4 / 6;
}

.projects {
    grid-area: 4 / 1 / 7 / 10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
.projects h2 {
    grid-area: 1 / 2 / 2 / 10;
    /* justify-self: center; */
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: white;
    background-color: rgba(25, 25, 112, 1);
    margin: 0;
    padding-left: 20px;
}


#teaCozy {
    grid-area: 2 / 1 / 4 / 10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: silver;
    z-index: -2;
    gap: 5px;
}
#teaCozy h3 {
    grid-area: 1 / 1 / 2 / 10;
    align-self: center;
    justify-self: center;
    font-family: 'Pacifico', 'Lobster', cursive;
    font-size: 70px;
    margin: 0;
}
#teaCozy h4:first-of-type {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    align-self: center;
    margin: 0;
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 50px;
    color: white;
}
#teaCozy p:first-of-type {
    grid-area: 3 / 1 / 5 / 6;
    margin: 0;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#teaCozy img {
    grid-area: 2 / 6 / 9 / 10;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 100%;
}
#teaCozy h4:nth-of-type(2) {
    grid-area: 5 / 1 / 6 / 3;
    justify-self: center;
    align-self: center;
    margin: 0;
    margin-left: 10px;
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 50px;
    color: white;
}
#teaCozy p:nth-of-type(2) {
    grid-area: 6 / 1 / 7 / 6;
    margin: 0;
    margin-left: 10px;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#teaCozy p:nth-of-type(3) {
    grid-area: 7 / 1 / 8 / 6;
    margin: 0;
    margin-left: 10px;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#teaCozy ul {
    grid-area: 7 / 1 / 9 / 6;
    margin: 0;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#teaCozy strong {
    font-weight: 400;
    font-size: 35px;
}
#box {
    grid-area: 2 / 1 / 9 / 10;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}


#virgoDragons {
    grid-area: 4 / 1 / 6 / 10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    z-index: -2;
    background-color: rgba(192,192,192,1);
    gap: 5px;
}
#virgoDragons h3 {
    grid-area: 1 / 1 / 2 / 10;
    align-self: center;
    justify-self: center;
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 70px;
    margin: 0;
    color: darkgray;
}
#virgoDragons h4:first-of-type {
    grid-area: 1 / 1 / 3 / 3;
    justify-self: center;
    align-self: center;
    margin: 0;
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 50px;
    color: white;
}
#virgoDragons p:first-of-type {
    grid-area: 2 / 1 / 5 / 5;
    margin: 0px;
    padding: 10px;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
    align-self: center;
}
#virgoDragons img {
    grid-area: 2 / 5 / 7 / 10;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 100%;
}
#virgoDragons h4:nth-of-type(2) {
    grid-area: 4 / 1 / 6 / 3;
    align-self: center;
    justify-self: center;
    margin: 0;
    margin-left: 10px;
    font-family: 'Lobster', 'Pacifico', cursive;
    font-size: 50px;
    color: white;
}
#virgoDragons p:nth-of-type(2) {
    grid-area: 5 / 1 / 6 / 5;
    margin: 0;
    margin-left: 10px;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#virgoDragons p:nth-of-type(3) {
    grid-area: 6 / 1 / 7 / 5;
    margin: 0;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#virgoDragons ul {
    grid-area: 6 / 1 / 7 / 5;
    margin: 0;
    align-self: flex-end;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
#virgoDragons strong {
    font-weight: 400;
    font-size: 35px;
}
#box1 {
    grid-area: 1 / 1 / 7 / 10;
    z-index: -1;
    background-color: rgba(25, 25, 112, 1);
}


#martialArts {
    grid-area: 6 / 1 / 10 / 10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: rgba(192,192,192,1);
    gap: 5px;
}
#martialArts h3 {
    grid-area: 1 / 1 / 2 / 10;
    align-self: center;
    justify-self: center;
}
#martialArts h4:first-of-type {
    grid-area: 1 / 1 / 3 / 3;
    align-self: center;
    justify-self: center;
}
#martialArts p:first-of-type {
    grid-area: 2 / 1 / 3 / 10;
    align-self: center;
}
#martialArts h4:nth-of-type(2) {
    grid-area: 2 / 1 / 4 / 3;
    align-self: center;
    justify-self: center;
}
#martialArts ul:first-of-type {
    grid-area: 3 / 1 / 4 / 10;
    align-self: center;
}
#martialArts h4:nth-of-type(3) {
    grid-area: 3 / 1 / 5 / 3;
    align-self: center;
    justify-self: center;
}
#martialArts h5:first-of-type {
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
    justify-self: center;
}
#martialArts p:nth-of-type(2) {
    grid-area: 4 / 2 / 5 / 5;
    align-self: center;
    justify-self: center;
}
#martialArts h5:nth-of-type(2) {
    grid-area: 4 / 5 / 5 / 8;
    align-self: center;
    justify-self: center;
}
#martialArts ul:nth-of-type(2) {
    grid-area: 4 / 7 / 5 / 10;
    align-self: center;
    justify-self: center;
}
#martialArts span:first-of-type {
    grid-area: 4 / 1 / 6 / 4;
    align-self: center;
}
#mediaBox {
    grid-area: 5 / 1 / 6 / 10;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-flow: row;
}
#media img {
    /* display: flex; */
    max-width: 33%;
    max-height: 100%;
}
/* #martialArts img:first-of-type {
    grid-area: 5 / 1 / 6 / 6;
    align-self: center;
    justify-self: flex-start;
    width: 100%;
    height: auto;
    object-fit: cover;
}
#martialArts img:nth-of-type(2) {
    grid-area: 5 / 6 / 6 / 8;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
    object-fit: cover;
}
#martialArts img:nth-of-type(3) {
    grid-area: 5 / 8 / 6 / 10;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    height: auto;
    object-fit: cover;
} */


.graphics {
    grid-area: 7 / 1 / 9 / 10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}









/* 
img {
    height: 100px;
    width: 100px;
} */

