body {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

header {
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 1;
    grid-area: 1 / 1 / 2 / 10;
    background-color: silver;
}
header img {
    grid-area: 1 / 4 / 2 / 7;
    align-self: center;
    justify-self: center;
}
header a {
    grid-area: 1 / 8 / 2 / 10;
    justify-self: center;
    align-self: center; 
}

footer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1;
    grid-area: 9 / 1 / 10 / 10;
    background-color: midnightblue;
}