body {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

header {
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 1;
    grid-area: 1 / 1 / 2 / 10;
    background-color: silver;
    font-family: 'Jost', sans-serif;
}
header img {
    grid-area: 1 / 4 / 2 / 7;
    align-self: center;
    justify-self: center;
}
header a {
    grid-area: 1 / 8 / 2 / 10;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(25, 25, 112, 1);
    font-size: 25px;
    color: rgb(25, 25, 112);
}

header a::after {
    color: rgb(25, 25, 112);
}

footer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1;
    grid-area: 9 / 1 / 10 / 10;
    background-color: silver;
}

footer p {
    font-family: 'Jost', sans-serif;
    grid-area: 1 / 1 / 2 / 10;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    font-weight: 200;
}